<%- include("./layouts/header.ejs") %> 
    <br><br><br>
    <div class="card mb-3 pt-3">
        <div class="mg-b-15">
            <div class="container mb-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Danh sách giao dịch chuyển tiền chờ phê duyệt</h4>
                <br>
                <div>
                    <table class="table table-bordered text-center">
                        <tr>
                            <th>STT</th>
                            <th>Mã giao dịch</th>
                            <th>Số tiền</th>
                            <th>Thời gian thực hiện</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        <% userTrans.forEach((u,index) => { %>
                                <tr>
                                    <td><%= index += 1 %></td>
                                    <td>
                                        <% if(u.action == 'CT') { %>
                                            Chuyển tiền
                                        <% } else if(u.action == 'RT') { %>
                                            Rút tiền
                                        <% } else if(u.action == 'NT') { %> 
                                            Nạp tiền
                                        <% } else if(u.action == 'BC') {%>
                                            Mua thẻ
                                        <% } %>  
                                    </td>
                                    <td><%= u.amount.toLocaleString()%></td>
                                    <td><%= u.timeStamps %></td>                                
                                    <td><%= u.status %></td>   
                                    <td> 
                                        <% if(u.action == 'CT') { %>
                                            <a href="/admin/detail-transfer/<%= u.codeTrans %>">Xem chi tiết</a>
                                        <% } else if(u.action == 'RT') { %>
                                            <a href="/admin/detail-withdraw/<%= u.codeTrans  %>">Xem chi tiết</a>
                                            <% } %> 
                                    </td>                                                                           
                                </tr>  
                             <%}) %> 
                        

                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018. All rights reserved. Template by <a
                                href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include("./layouts/footer.ejs") %> 