<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Thêm sản phẩm</h2>
        <form action="/edit/<%=slug%>" method="post">
            <% products.forEach(function(product){ 
                if(product.id==slug){%>

                <div class="form-group">
                    <label for="name">Tên sản phẩm:</label>
                    <input type="text" class="form-control" id="name" value="<%= product.name %>" name="nname">
                </div>
                <div class="form-group">
                    <label for="price">Giá sản phẩm:</label>
                    <input type="number" class="form-control" id="price" value="<%= product.price %>" name="nprice">
                </div>
                <div class="form-group">
                    <label for="image">Hình ảnh:</label>
                    <input type="file" class="form-control" id="image" value="<%= product.image %>" name="nimage">
                </div>
                <div class="form-group">
                    <label for="desc">Mô tả:</label>
                    <input type="text" class="form-control" id="desc" value="<%= product.desc %>" name="ndesc">
                </div>
                <% }}); %>
                    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>