<!DOCTYPE html>
<html lang="en">

<head>
    <title>User profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
 
<div class="container">
    <h2>Danh sách sản phẩm</h2>        
    <div class="form-group">                    
        <button class="btn btn-success px-5" onclick="window.location.href='/add'">Thêm sản phẩm</button>
    </div>
    <p>Chọn một sản phẩm cụ thể để xem chi tiết</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product){ %>
                <tr>
                    <td><%= product.id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><a href="/edit/<%=product.id%>">Chỉnh sửa  </a>|<a href="/delete/<%=product.id%>">  Xóa</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

</body>

</html>